body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding: 20px;
}

.container {
  width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h1, h2 {
  text-align: center;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

#addBtn {
  background-color: #28a745;
}

#addBtn:hover {
  background-color: #218838;
}

#updateBtn {
  background-color: #ffc107;
  color: black;
}

#updateBtn:hover {
  background-color: #e0a800;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.delete-btn {
  background-color: #dc3545;
  padding: 6px 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}

.edit-btn {
  background-color: #007bff;
  padding: 6px 10px;
  color: white;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}
